@import 'tailwindcss';
@theme inline {
  --color-background-default: #0c0c0c;
  --color-background-primary: #181818;
  --color-background-secondary: #282828;
  --color-text-primary: #ffffff;
  --color-text-secondary: #808080;
  --color-text-brand: #006eff;
  --color-border-primary: #383838;

  --font-inter: var(--font-inter);
  --font-geist: var(--font-geist);
}